/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
/* Variables estilo */
 :root {
    /*Colores*/
     --ColorFondos: #F0F2F1;
     --ColorFondosHover: #dfdfdf;
     --ColorAcento: #17C64F;
     --ColorAcentoHover: #12af44;
     --ColorSecundario: #FFFFFF;
     --ColorTexto: #000000;
     --ColorTextoAcento: #ffffff;
     --ColorPlaceholder: #CECECE;
     --ColorResaltado: #17c64f22;
    /*Estilos*/
     --MargenesContenido:6%;
     --MarginElementos:1%;
     --RadioEsquinas: 15px;
     --PaddingElementos:4%;
     --PaddingAtajos: 3%;
     --PaddingInstrucciones:6%;
     --PaddingUnaColumna:5%;
    /*Menu Lateral*/
     --MenuAncho: 65vw;
     --MenuAnchoMaxWidth: auto;
     --MenuSeparacionLogoElementos:20%;
     --MenuSeparacionElementos: 10%;
     --MenuTiempoAnimacion: 0.3s;
     --MenuPadding:8%;
     --MenuColorOverlay: #00000033;
     --MenuLateralEsconderAnimacion: translateX(-115%);
     --MenuOcultarHamburguesa: block;
    /*Configuración*/
     --ConfiguracionAnchoContenedor: var(--SeccionesDerechaAncho);
     --ConfiguracionPosicionBottom: 0;
     --ConfiguracionSeccionDerechaValorLeft: auto;
     --ConfiguracionSeccionDerechaValorRight: 0;
     --ConfiguracionPaddingContenedor:6%;
     --ConfiguracionBotonAtrasDisplay:block;
     --ConfiguracionBotonCerrarDisplay:none;
     --ConfiguracionAnchoBotonesTamañoLetra: 25vw;
     --ConfiguracionAnchoBotonesModo: 13vw;
     --ConfiguracionEspacioBajoTitulo: 4%;
    /*Fuentes*/
     --TamanoFuenteTitulosH1: 22px;
     --TamanoFuenteTitulosH2: 22px;
     --TamanoFuenteTitulosH3: 20px;
     --TamanoFuenteTitulosH3: 14px;
     --TamanoFuenteParrafos: 14px;
     --TamanoFuenteMenor: 12px;
     --FuenteTipografia: 'Poppins', sans-serif;
     --FuenteRegular: 400;
     --FuenteNegrilla: 500;
    /*Iconos*/
     --AlturaIconoAbrir: 16px;
     --AlturaIconoAgregarFavorito: 24px;
     --AlturaIconosAtajos:25px;
     --AlturaIconoFavorito: 24px;
     --AlturaIconosConfiguracion: 22px;
     --AlturaIconoLupa: 26px;
     --AlturaIconoMenu: 26px;
     --AlturaIconosMenuLateral:20px;
     --AlturaIconosTabla:20px;
    /* Ocultar Elementos */
     --OcultarElemento: flex;
     --DisplaySeccionHeader: flex;
    /*Otros Elementos*/
    --PositionSeccionHeaderFija:absolute;
     --AlturaLogoPrincipal: 40px;
     --SeparadorSeccionPrincipal: 2vh;
     --SeparadorSecciones: 2vh;
     --FiltroNegativo: none;
     --FiltroNegativoInvertido: invert(1);
     --WidthHR:97%;
    /*Buscador*/
     --BuscadorPaddingLupa:6%;
     --BuscadorDisplayBoton: none;
     --BuscadorInputWidth: 100%;
     --BuscadorSubmitWidth:0%;
     --BuscadorSeparaciónSubmit: 0%;
    /*Búsquedas Recientes*/
     --PaddingBusquedasRecientes:4%;
    /*Sección Derecha*/
     --SeccionesDerechaAncho: 100vw;
     --SeccionesDerechaMenuAncho: 0;
     --SeccionDerechaValorLeft: 0;
     --SeccionDerechaValorRight: auto;
     --SeccionDerechaTamanoAutomatico: 1000px;
    /*Sección Palabra del Día*/
     --SeccionPalabraDelDiaAtajoDisplay: block;
     /*Pagina Favoritos*/
     --SeparadorFavoritos: 8px;
     /*Página Términos*/
     --PaddingContenidosHome: 8%;
     --PaddingFiltrosTerminos: 25px;
     --TextoExpandir: '';
     --TextoContraer: '';
     --AlturaSeccionTodosLosTerminos:55svh;
     --DireccionFlexContenedorFiltrosTerminos:column;
     /* Pagina Termino*/
     --AltoContenedorDefinicionesTermino:72svh;
     /* Pagina Resultados*/
     --DisplayBotonSeccionFiltros: block;
     --OrientacionBusqueda: column;
     --AnchoSeccionFiltros:100%;
     --PaddingContenidosResultadosBusqueda: 32px;
     --DisplaySeccionFiltros: flex;
     --FlexDirectionInputFiltros: row;
     --AlignItemsInputFiltros: center;
     --DireccionFlexCategoriasBuscador: column;
     --PaddingBotonAgregar: 12px;
     --AnchoSeccionResultados: 100%;
     --PaddingResultadosBusqueda:2vh;
     --AlturaContenedorDefiniciones: 80svh;
}
/* Configuración General */
 *{
     margin:0;
     padding:0;
     font-family: var(--FuenteTipografia);
     box-sizing: border-box;
     transition: background-color 0.5s, color 0.05s, filter 0.5s, border 0.5s;
     -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    word-break: break-word;
}
 body{
     background-color: var(--ColorFondos);
     overflow-x: hidden;
}
 a{
     text-decoration: none;
}
a:visited, a:active{
    color:var(--ColorTexto)
}

::marker {
    color: var(--ColorAcento);
    font-size: 12px;
}

 p{
     font-size: var(--TamanoFuenteParrafos);
     color: var(--ColorTexto);
     font-weight: var(--FuenteRegular);
     text-align: justify;
     line-height: 1.2em;
}
 h1{
     font-size: var(--TamanoFuenteTitulosH1);
     font-weight: var(--FuenteNegrilla);
     color:var(--ColorTexto);
     line-height: 1.1em;
}
 h2{
     font-size: var(--TamanoFuenteTitulosH2) !important;
     font-weight: var(--FuenteNegrilla);
     color:var(--ColorTexto);
     line-height: 1.1em;
}
 h3{
     font-size: var(--TamanoFuenteTitulosH3) !important;
     font-weight: var(--FuenteNegrilla);
     line-height: 1em;
}
h4{
    font-size: var(--TamanoFuenteTitulosH4) !important;
    font-weight: var(--FuenteNegrilla);
    line-height: 1em;
}

.Negrilla{
    font-weight: var(--FuenteNegrilla);
}

 ul{
     list-style: none;
}
 hr{
     width:var(--WidthHR);
     margin:0 auto;
     border: 1px solid var(--ColorPlaceholder);
}
mark{
    background-color: var(--ColorResaltado);
}
.SeparadorSeccionesOcultar{
    display: var(--DisplaySeccionHeader);
}
/* Configuración Scroll */
 .ScrollVerde::-webkit-scrollbar {
     width: 9px;
    /* width */
}
 .ScrollVerde::-webkit-scrollbar-track {
     background: var(--ColorFondosHover);
    /* Track */
     border-radius: var(--RadioEsquinas);
}
 .ScrollVerde::-webkit-scrollbar-thumb {
     background: var(--ColorAcento);
    /* Handle */
     border-radius: var(--RadioEsquinas);
}
 .ScrollVerde::-webkit-scrollbar-thumb:hover {
     background: var(--ColorAcentoHover);
    /* Handle on hover */
}
 .TextoColorAcento{
     color: var(--ColorAcento);
}
 .IconoAbrir{
     height:var(--AlturaIconoAbrir);
}
 .LogoPrincipal{
     height:var(--AlturaLogoPrincipal);
}
 .SeparadorSeccionPrincipal{
     height: var(--SeparadorSeccionPrincipal);
}
 .SeparadorSecciones{
     height: var(--SeparadorSecciones);
}
 .ContenedorAplicativo{
     background-color: var(--ColorFondos);
}

.ResultadoBusquedaSeparador{
    display:block;
    border: 0 solid transparent;
    border-bottom: 1px solid #e4e4e4;
}

/* ----------------- CONFIGURACIÓN PÁGINA CONTENIDO -----------------*/

/* Configuración Contenedor Página */
.ContenidoPagina{
    padding-top: 30px;
    gap:12px;
}

.ContenedorDefiniciones{
    background-color: var(--ColorSecundario);
    border-radius: var(--RadioEsquinas);
    padding: var(--PaddingUnaColumna)
}

.ContenidoUnaColumna{
    width: 100%;
}

.ColumnaDerechaDesaparece{
    display: none;
}

.InstruccionesDerecha{
   background-color: var(--ColorSecundario);
   color: var(--ColorTexto);
   font-size: var(--TamanoFuenteParrafos);
   padding: var(--PaddingInstrucciones);
   border-radius: var(--RadioEsquinas);
}

.SeccionContenidoHome {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    width:100%;
    height: 86svh; /* NOTA: Falta definir esta altura con un JavaScript */
}

/* ----------------- CONFIGURACIÓN LOGIN -----------------*/
/* Configuración Sección Login */
 .SeccionLogin{
     position:absolute;
     top:50%;
     left:50%;
     transform: translate(-50%, -50%);
     width:80%;
     max-width:380px;
}
 .LogoLogin{
     width:80%;
     display: block;
     margin: 0 auto;
     padding-bottom: var(--SeparadorSecciones);
}
 .FormaLogin{
     display: flex;
     flex-direction: column;
     flex-wrap: nowrap;
     justify-content: space-between;
}
 .IconosLogin{
     height:var(--AlturaIconosMenuLateral);
     margin-right:10px;
}
 .FilaLogin{
     width:100%;
     margin: var(--MarginElementos);
}
.FilaLoginInput {
	background-color: var(--ColorSecundario);
	border-radius: var(--RadioEsquinas);
	padding: 14px;
	display: flex;
	align-items: center;
}
 .SubmitLogin{
     width: 100%;
     border: 0 solid transparent;
     background-color: var(--ColorAcento);
     color: var(--ColorSecundario);
     border-radius: var(--RadioEsquinas);
     padding: 16px;
     font-size: var(--TamanoFuenteParrafos);
     cursor: pointer;
}
.SubmitLogin:hover{
    background-color: var(--ColorAcentoHover);
}
 .EnlacesLogin{
     padding: var(--PaddingElementos);
}
 .EnlacesLogin p{
     text-align: center;
     font-size: var(--TamanoFuenteMenor);
     margin: var(--MarginElementos);
}
/* ----------------- CONFIGURACIÓN MENÚ LATERAL -----------------*/
 .MenuLateral{
     display: flex;
     flex-direction: column;
     height:100vh;
     position: fixed;
     top:0;
     z-index:100;
     left:0;
     filter: drop-shadow(0px 0px 0px #00000033);
     transform: var(--MenuLateralEsconderAnimacion);
     -webkit-transform: var(--MenuLateralEsconderAnimacion);
     padding: var(--MenuPadding);
     width: var(--MenuAncho);
     max-width: var(--MenuAnchoMaxWidth);
     background-color: var(--ColorAcento);
     color: var(--ColorTextoAcento);
     font-size: var(--TamanoFuenteParrafos);
     overflow: hidden;
}
/* Elementos Menú */
 .ContenedorItemMenuLateral{
     display:flex;
     align-items: center;
     cursor: pointer;
}
.LogoMenuLateral{
    height:var(--AlturaLogoPrincipal);
    margin-bottom:var(--MenuSeparacionLogoElementos);
}
 .MenuLateralLista li{
     margin-bottom: var(--MenuSeparacionElementos);
}
 .MenuLateralLista button{
     border: none;
	  color: var(--ColorTextoAcento);
}
.MenuLateralLista li button:hover {
    text-decoration: underline;
}
 .MenuLateral a:visited, .MenuLateral a:active, .MenuLateral a{
     color: white;
}
 .MenuLateralLista li:hover{
     text-decoration: underline;
}
 .ItemMenuActivo{
     background-color: white;
     color:var(--ColorAcento);
     border-radius: var(--RadioEsquinas);
     padding: var(--PaddingElementos);
     padding-left: 0;
}
 .ItemMenuActivo:hover{
     text-decoration: underline;
}
 .ItemMenuActivo img{
     filter: none;
}
 .IconosMenuLateral{
     height:var(--AlturaIconosMenuLateral);
     margin-right:10px;
     padding-left:10px;
     filter: brightness(100);
}
 .InformacionPropiedadAplicativo{
     font-size: calc(var(--TamanoFuenteParrafos) - 2px);
     margin-top:20%;
}
/* Configuración Overlay Menu */
 .OverlayMenu{
     width: 100vw;
     height: 100vh;
     background-color: var(--MenuColorOverlay);
     position: fixed;
     top:0;
     left:0;
     z-index:98;
}
/* Configuración Menú Configuración*/
 #ContenedorMenuConfiguracion{
     overflow: hidden;
     position: fixed;
     bottom: var(--ConfiguracionPosicionBottom);
     z-index:0;
     width: var(--ConfiguracionAnchoContenedor);
     left: var(--ConfiguracionSeccionDerechaValorLeft);
     right: var(--ConfiguracionSeccionDerechaValorRight);
     display:none;
}
 .MenuConfiguracion{
     width: 100%;
     z-index:99;
     transform: translateY(115%);
     padding: var(--ConfiguracionPaddingContenedor);
     background-color: var(--ColorSecundario);
     color: var(--ColorTexto);
     font-size: var(--TamanoFuenteParrafos);
}
 .SeccionAtrasTitulo{
     display: flex;
     align-items: center;
     justify-content: space-between;
}
 .IconoAtrasConfiguracion{
     display:var(--ConfiguracionBotonAtrasDisplay);
     height:var(--AlturaIconoAtras);
     filter: var(--FiltroNegativo);
     cursor: pointer;
}
 .IconosConfiguracion{
     height:var(--AlturaIconosConfiguracion);
}
 .IconoCerrarConfiguracion{
     display:var(--ConfiguracionBotonCerrarDisplay);
     filter: var(--FiltroNegativo);
     cursor: pointer;
}
 .SelectoresConfiguracion{
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin-top: var(--ConfiguracionEspacioBajoTitulo);
}
 .TablaTamanosFuente{
     border: 2px solid var(--ColorTexto);
     border-radius: var(--RadioEsquinas);
     height:50px;
     cursor: pointer;
}
 .TablaTamanosFuente td {
     width: var(--ConfiguracionAnchoBotonesTamañoLetra);
     text-align: center;
}
 .TablaTamanosFuente td:hover {
     text-decoration: underline;
}
 #ConfiguracionAchicarLetra {
     border-right: 2px solid var(--ColorTexto);
}
 .TablaConfiguracionModo{
     background-color: var(--ColorFondos);
     border-radius: var(--RadioEsquinas);
     height: 50px;
}
 .TablaConfiguracionModo:hover{
     background-color: var(--ColorFondosHover);
}
 .TablaConfiguracionModo td {
     width: var(--ConfiguracionAnchoBotonesModo);
     text-align: center;
     vertical-align: middle;
     cursor: pointer;
}
 .ModoActivo{
     background-color: var(--ColorAcento);
}
.ModoActivo img{
    filter: invert(1) !important;
}
 .ModoActivo:hover{
     background-color: var(--ColorAcento);
}
 .ModoActivo td{
     cursor: default !important;
}
 .TablaConfiguracionModo img {
     width: 32px;
     vertical-align: middle;
     filter: var(--FiltroNegativo);
}
 #ConfiguracionAchicarLetra {
     font-size: 11px;
}
 #ConfiguracionAgrandarLetra {
     font-size: 17px;
}
/* Animaciones Menú */
 .slide-in {
     transition: transform var(--MenuTiempoAnimacion) linear;
     transform: translateX(0%);
     filter: drop-shadow(2px 0px 12px #00000033);
}
 .slide-out {
     transition: transform var(--MenuTiempoAnimacion) linear;
     transform: translateX(-115%);
     filter: drop-shadow(0px 0px 0px #00000033);
}
 .slide-up {
     transition: transform var(--MenuTiempoAnimacion) linear;
     transform: translateY(0%);
}
 .slide-down {
     transition: transform var(--MenuTiempoAnimacion) linear;
     transform: translateY(115%);
}
 .z-index-up {
     z-index:99 !important;
}
 .z-index-down {
     z-index:0 !important;
}
 .overlay-in{
     visibility: visible !important;
     opacity: 1;
     transition: visibility 1s, opacity 0.5s, z-index 0.5s linear;
     z-index: 98;
}
 .overlay-out{
     visibility: hidden;
     opacity: 0;
     transition: visibility 1s, opacity 0.5s, z-index 0.5s linear;
     z-index:-1 !important;
}
/* ----------------- CONFIGURACIÓN SECCIÓN ATAJOS -----------------*/
/* Configuración Sección Atajos */
.SeccionAtajos{
    background-color: var(--ColorAcento);
    display: var(--OcultarElemento);
    display:none;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    color: var(--ColorTextoAcento);
    position: fixed;
    bottom: 0;
    padding: var(--PaddingAtajos);
    left:0;
    right:0;
    z-index:10;
    text-align: center;
    font-size: var(--TamanoFuenteParrafos);
    filter: drop-shadow(0px 0px 10px #00000033);
}
.SeccionAtajos a{
    color: var(--ColorTextoAcento);
    text-align: center;
    width: 33.33%;
}
.ElementoAtajo{
    line-height: 1em;
}
.IconoAtajos {
    height:var(--AlturaIconosAtajos);
    opacity: 0.5;
    filter: brightness(100);
}
.IconoAtajoActivo {
    opacity: 1;
}


/* ----------------- CONFIGURACIÓN HOME -----------------*/
/* Configuración Header */
 .SeccionHeaderFija{
     position: var(--PositionSeccionHeaderFija);
     width:var(--SeccionesDerechaAncho);
     top: 0;
     left: var(--SeccionDerechaValorLeft);
     right: var(--SeccionDerechaValorRight);
     padding: var(--MargenesContenido) var(--MargenesContenido) calc(var(--MargenesContenido)/2) var(--MargenesContenido);
     background-color: var(--ColorFondos);
     z-index: 5;
}

 .SeccionHeader{
     display: var(--DisplaySeccionHeader);
     flex-direction: row;
     flex-wrap: nowrap;
     justify-content: space-between;
     align-items: center;
}
 .SeccionHeaderIzquierda{
     order:1;
}
 .IconoMenu{
     height:var(--AlturaIconoMenu);
     filter: var(--FiltroNegativo);
     display: var(--MenuOcultarHamburguesa);
     cursor: pointer;
}
.IconoVolver{
    height:var(--AlturaIconoMenu);
    filter: var(--FiltroNegativo);
}
 .SeccionHeaderDerecha{
     order:2;
}
/* Configuración Buscador */
 .FormaBuscador{
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     justify-content: space-between;
     height: 50px;
}
 .SeccionInputBuscador{
     display: flex;
     flex-direction: row;
     background-color: var(--ColorSecundario);
     padding: var(--PaddingElementos);
     border-radius: var(--RadioEsquinas);
     width: var(--BuscadorInputWidth);
     align-items: center;
     padding: 5px 12px;
}
 .IconoLupa{
     height:var(--AlturaIconoLupa);
}
 .InputBuscador{
     flex-grow: 2;
     border:0 solid transparent;
     outline:0;
     background-color: transparent;
     padding-left: var(--BuscadorPaddingLupa);
     font-size: var(--TamanoFuenteParrafos);
}
 .SubmitBusqueda{
		text-align: center;
     border: 0 solid transparent;
     padding: var(--PaddingElementos);
     display: var(--BuscadorDisplayBoton);
     background-color: var(--ColorAcento);
     color: var(--ColorTextoAcento);
     border-radius: var(--RadioEsquinas);
     width: var(--BuscadorSubmitWidth);
     margin-left: var(--BuscadorSeparaciónSubmit);
     font-weight: var(--FuenteNegrilla);
     font-size: var(--TamanoFuenteParrafos);
     cursor: pointer;
	min-width: 120px;
    align-items: center;
    justify-content: center;
}
.SubmitBusqueda:visited{
	color: var(--ColorTextoAcento);
}
 .SubmitBusqueda:hover{
     background-color: var(--ColorAcentoHover);
}

/* Configuración Palabra del Dia Atajo */
 .SeccionPalabraDelDiaAtajo{
     display: var(--SeccionPalabraDelDiaAtajoDisplay);
}
 .SeccionPalabraDia{
     background-color: var(--ColorAcento);
     color: var(--ColorTextoAcento);
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     justify-content: space-between;
     align-items: center;
     font-size: var(--TamanoFuenteParrafos);
     padding: var(--PaddingElementos);
     border-radius: var(--RadioEsquinas);
     cursor: pointer;
}
 .SeccionPalabraDia:hover{
     background-color: var(--ColorAcentoHover);
}
 .IconoAgregarFavorito{
     height:var(--AlturaIconoAgregarFavorito);
     opacity: 0.5;
     cursor: pointer;
     transition: opacity 0.5s;
}
 .IconoAgregarFavorito:hover{
     opacity: 1;
}
/*Configuración Palabra del día Widget */

.SeccionPalabraDelDiaWidget{
     background-color: var(--ColorSecundario);
     color: var(--ColorTexto);
     font-size: var(--TamanoFuenteParrafos);
     padding: var(--PaddingContenidosResultadosBusqueda);
     border-radius: var(--RadioEsquinas);
}
 .ContenidoPalabraDelDia{
     background-color: var(--ColorSecundario);
     color: var(--ColorTexto);
     font-size: var(--TamanoFuenteParrafos);
     height: 75svh;
     overflow-y: auto;
     padding-right: 16px;
}
 .ContenedorPalabraIconoWidgetPalabraDelDia{
     display: flex;
     align-items: center;
     justify-content: space-between;
}

.IconoAgregarFavoritoWidget{
    height:var(--AlturaIconoAgregarFavorito);
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.5s;
    filter: var(--FiltroNegativoInvertido);
}
 .ListadoDescripciones{
     overflow-y: auto;
    padding-right: calc(var(--PaddingElementos)*3);
     min-height: 300px;
}
 .ConceptoDefinicion{
     font-weight: var(--FuenteNegrilla);
}
 .DefinicionPalabraDelDia{
     width:100%;
     flex-basis: 100%;
     text-align: justify;
}
/* Configuración Busquedas Recientes */
 .SeccionBusquedasRecientes{
     background-color: var(--ColorSecundario);
     color: var(--ColorTexto);
     border-radius: var(--RadioEsquinas);
     padding: calc(var(--PaddingElementos)*.5) var(--PaddingElementos);
}
 .ElementoBusquedaReciente{
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     justify-content: space-between;
     padding: var(--PaddingBusquedasRecientes);
     cursor: pointer;
     align-items: center;
}
 .ElementoBusquedaReciente:hover{
     text-decoration: underline;
}
 .TextoBusquedaReciente{
     font-size: var(--TamanoFuenteParrafos);
}

/* Configuración Todos los Términos */
.DiccionarioCompleto, .DiccionarioCompleto:visited{
        background-color: var(--ColorAcento);
        color: var(--ColorTextoAcento);
        font-size: var(--TamanoFuenteParrafos);
        padding: var(--PaddingElementos);
        border-radius: var(--RadioEsquinas);
        justify-content: center;
        display:flex;
        align-items: center;
        cursor: pointer;
        text-align: center;
		  width: 100%;
		  border: none;
   }
    .DiccionarioCompleto:hover{
        background-color: var(--ColorAcentoHover);
   }
   .IconoDiccionarioCompleto{
    height:var(--AlturaIconoLupa);
    padding-right: var(--PaddingBusquedasRecientes);
}


 

/* ----------------- CONFIGURACIÓN FAVORITOS -----------------*/
/* Configuración Término Favorito */

.ContenedorTerminoFavorito{
    background-color: var(--ColorSecundario);
    color: var(--ColorTexto);
    border-radius: var(--RadioEsquinas);
    padding: calc(var(--PaddingElementos)*.5) var(--PaddingElementos);
}

.TerminoFavorito{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: var(--PaddingBusquedasRecientes);
    cursor: pointer;
    align-items: center;
}
.TerminoFavorito:hover{
    text-decoration: underline;
}

.ContenedorFavoritoIcono{
    display:flex;
    align-items: center;
}
.IconoFavorito{
    height:var(--AlturaIconoFavorito);
    padding-right: calc(var(--BuscadorPaddingLupa)*5);
}

.SeparadorFavoritos{
    height: var(--SeparadorFavoritos);
}
/* ----------------- CONFIGURACIÓN TÉRMINOS GENERAL -----------------*/
.SeccionBuscadorConBotones{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    gap: 4vw;
}
.FormaBuscadorConBotones{
    flex: 2;
}
.ContenedorBotonesExpandirContraer{
    display:flex;
    justify-content: space-between;
    align-items: center;
    row-gap: 10px;
    column-gap: 10px;
}
.ContenedorBotonesExpandirContraer button {
    border: 0;
}
.BotonExpandir, .BotonContraer {
    background-color: var(--ColorAcento);
    color: var(--ColorTextoAcento);
    border-radius: var(--RadioEsquinas);
    display: inline-block;
    width: max-content;
    height: -webkit-fill-available;
    padding: 5px 12px;
    font-weight: var(--FuenteNegrilla);
}
.BotonExpandir::after{
    content: var(--TextoExpandir);
}
.BotonContraer::after{
    content: var(--TextoContraer);
}

.ContenedorFiltrosTerminos{
    display: flex;
    flex-direction: var(--DireccionFlexContenedorFiltrosTerminos);
    gap: 20px;
}

.CaracteristicaDefinicion{
    font-weight: var(--FuenteNegrilla);
    line-height: 1em;
    margin-bottom: var(--PaddingElementos);
}

.TablaTodosLosTerminos {
    height: var(--AlturaSeccionTodosLosTerminos) !important;
}

.FlexListaTerminos{
    display:flex;
    flex-direction: column;
    width: 100%;
}

a.descriptor_row {
    padding-left: 30px;
    display: inline-block;
}

.descriptor_row{
	color: var(--ColorTexto);
}

/* ----------------- CONFIGURACIÓN RESULTADOS -----------------*/

.SeccionBotonFiltros {
    display: var(--DisplayBotonSeccionFiltros);
}
.SeccionBotonFiltros a#BotonAbrirFiltros div, .SeccionBotonFiltros a#BotonCerrarFiltros div {
    display: flex;
    column-gap: 10px;
    align-items: center;
    background-color: transparent;
    padding: 5px;
    justify-content: center;
}

.SeccionContenidoBuscadorFiltros
    {
        width: var(--AnchoSeccionFiltros);
        background-color: var(--ColorSecundario);
        padding: var(--PaddingFiltrosTerminos);
        border-radius: var(--RadioEsquinas);
        display: var(--DisplaySeccionFiltros);
        flex-direction: column;
        height: auto;
    }

    .ContenedorInputFiltros{
        display: flex;
        flex-direction: var(--FlexDirectionInputFiltros);
        column-gap: 15px;
        row-gap: 8px;
        align-items: var(--AlignItemsInputFiltros);
        flex-wrap: wrap;
    }

    .ContenedorInputFiltros div {
        display: flex;
        gap: 5px;
        align-items: center;
    }

    .CategoriasBuscador {
        display: flex;
        flex-direction: var(--DireccionFlexCategoriasBuscador);
        width: 100%;
        padding-bottom:12px;
    }
    .LabelBuscadorFiltros {
        font-size: var(--TamanoFuenteParrafos);
        color: var(--ColorTexto);
        font-weight: var(--FuenteRegular);
        text-align: justify;
        line-height: 1.2em;
    }
    .SubmitBusquedaFiltros {
        display: block;
        text-align: center;
        width: 100%;
        border: 0 solid transparent;
        background-color: var(--ColorAcento);
        color: var(--ColorSecundario);
        border-radius: var(--RadioEsquinas);
        padding: var(--PaddingBotonAgregar);
        font-size: var(--TamanoFuenteParrafos);
        cursor: pointer;
    }
    .SubmitBusquedaFiltros:active, .SubmitBusquedaFiltros:visited, .SubmitBusquedaFiltros:hover  {
        color: var(--ColorSecundario);
    }
    .ContenedorDefiniciones {
        background-color: var(--ColorSecundario);
        border-radius: var(--RadioEsquinas);
        padding: var(--PaddingContenidosResultadosBusqueda);
        width: var(--AnchoSeccionResultados);
        display: flex;
        flex-direction: column;
        height: var(--AlturaContenedorDefiniciones);
    }

    .ContenedorResultadosScroll{
        overflow-y: auto;
        padding-right: 20px;
        margin-top: 20px;
    }
.ElementoResultado{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
}

.SelectOrdenarPor {
    border: 0 solid transparent;
    outline: none;
    background-color: transparent;
}

.SeccionContenidoPaginaBuscador {
    display: flex;
    width: 100%;
    gap: 2vw;
    flex-direction: var(--OrientacionBusqueda);
}

.ResultadoBusqueda{
    padding-top: var(--PaddingResultadosBusqueda);
    padding-bottom: var(--PaddingResultadosBusqueda);
}

.ResultadoBusquedaTermino{
    font-weight: var(--FuenteNegrilla);
}

/* ----------------- CONFIGURACIÓN TÉRMINO -----------------*/
.ContenedorTerminosExpandidos{
    padding-top:30px;
}

.ContenedorTermino{
    cursor: pointer !important;
} 

.SeccionContenidoDefiniciones {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding-right: 20px;
    row-gap: 20px;
    max-height: var(--AltoContenedorDefinicionesTermino);
    overflow-y: auto;
}

.ContenidoDefinicion{
    background-color: var(--ColorSecundario);
    padding: var(--PaddingContenidosResultadosBusqueda);
    border-radius: var(--RadioEsquinas);
}

/* ----------------- CONFIGURACIÓN DEFINICIÓN  -----------------*/
.TituloDefinicionIcono{
display: flex;
justify-content: space-between;
}

.hidden{
	display:none;
}

.noPointerEvents{
	pointer-events: none;
}
.dj_button{
	border: 0 solid transparent;
	padding: var(--PaddingBotonAgregar);
	display: var(--BuscadorDisplayBoton);
	background-color: var(--ColorAcento);
	color: var(--ColorTextoAcento);
	border-radius: var(--RadioEsquinas);
	width: var(--BuscadorSubmitWidth);
	/* margin-left: var(--BuscadorSeparacionSubmit); */
	font-weight: var(--FuenteNegrilla);
	font-size: var(--TamanoFuenteParrafos);
	cursor: pointer;
	min-width: 120px;
}
.dj_button:hover{
	background-color: var(--ColorAcentoHover);
}
.SeccionSuperiorHerramientas{
	display:flex;
	justify-content: space-between;
	align-items: var(--SeccionSuperiorAlineacion);
	flex-direction: var(--SeccionSuperiorOrden);
	row-gap: 10px;
	column-gap: 10px;
}

.ContenedorTabla{
	overflow-y: auto;
	padding-right:20px;
	max-height: 69svh;
}
.table-container tr td {
	border-bottom: 1px solid #e4e4e4;
}
.SeccionContenidoSubpagina{
	width: 100%;
	background-color: var(--ColorSecundario);
	padding: var(--PaddingContenidosHome);
	border-radius: var(--RadioEsquinas);
	display: flex;
	flex-direction: column;
	height: -webkit-fill-available;
	min-height: 0;
}
.TablaUsuarios{
	width:100%;
	text-align: left;
	font-size: var(--TamanoFuenteParrafos);
	color: var(--ColorTexto);
	font-weight: var(--FuenteRegular);
	line-height: 1.2em;
	border-collapse: collapse;
	border-spacing: 5px;
}
.TablaUsuarios tr{
	height: 42px;
}

.TablaUsuarios  tr td:first-child{
	max-width: 700px;
}
.TablaTextoCentrado{
	text-align: center;
}
.IconosTabla{
	height:var(--AlturaIconosTabla);
}

.EnlaceTerminosTabla{
    display: block;
    width:100%;
    color: var(--ColorTexto);
}
.opacity07{
	opacity: 0.7;
}
.InputLogin {
	flex-grow: 2;
	border: 0 solid transparent;
	outline: 0;
	background-color: transparent;
	padding-left: var(--BuscadorPaddingLupa);
	font-size: var(--TamanoFuenteParrafos);
}

.highlight{
	animation: highlight 0.3s 2 ease-in-out;
}

.snippet {
    opacity: 1;
    color: #979797;
    font-size: 14px;
}

@keyframes highlight {
	0% {
		background-color: var(--ColorSecundario)
	}
	/* with --ColorAcento but half opacity */
	50% {
		background-color: rgba(23, 198, 79, 0.5);
	}
	100% {
		background-color: var(--ColorSecundario)
	}
}